.footer {
  background: #1b242f;
  padding: 70px 0 50px 0;
  position: relative;

  .back-to-top {
    background-color: #e31b6d;
    cursor: pointer;
    font-size: 30pt;
    height: 50px;
    left: 0;
    line-height: 40pt;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -25px;
    transition: background-color 0.5s;
    width: 47px;
    color: #fff;
  }

  .back-to-top:hover {
    background-color: #981149;
  }

  .icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #262f38;
      cursor: pointer;
      font-size: 18pt;
      height: 55px;
      margin: 0 15px;
      overflow: hidden;
      position: relative;
      text-align: center;
      transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
      width: 55px;

      .icon-item {
        height: 26px;
        width: 26px;
        font-size: 20pt;
      }
    }

    .icon:hover {
      background: #04c2c9;
      box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
      transform: scale(0.9);
      
      .icon-item {
        -webkit-animation: toBottomFromTop 0.3s forwards;
        -moz-animation: toBottomFromTop 0.3s forwards;
        animation: toBottomFromTop 0.3s forwards;
      }
    }
  }

  .footnote {
    color: #8f9aa7;
    font-size: 10pt;
    margin-top: 35px;
    opacity: 0.6;
    text-transform: uppercase;

    span {
      color: #e31b6d;
    }
  }
}