body {
  // font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.overflow-wrapper {
  section {
    @include flex;
    line-height: 24px;
    position: relative;
    padding: 100px 0 130px 0;
  }
  section:first-child {
    margin: 0;
    overflow: hidden;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.home nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}

nav.fixed.desk {
  animation: popDown 0.5s;
}
.desc {
  animation: popDown 0.5s;
}

.active {
  color: #e31b6d;
}

.container {
  @include flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}

.header {
  color: #444649;
  font-weight: 600;
  font-size: 32px;
  position: relative;
  position: relative;
  line-height: normal;
  
  @media screen and (min-width: $tablet) {
    font-size: 48px;
  }
}

.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 70px;

  @media screen and (min-width: $tablet) {
    margin: 25px 0 100px 0;
  }
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

.waypoint {
  opacity: 0;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #525B73;
}

body::-webkit-scrollbar-thumb {
  background-color: #1e242c;
  border-radius: 20px;
}